body {
  background-color: rgb(31, 31, 36);
  color: white;
}

section {
  height: 100vh;
  width: 100vw;
}

#logo {
  margin-left: 20px;
}
.ball {
  background-color: black;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}

.portfolio-card {
  width: 408px;
  color: rgb(31, 31, 36);
  border-radius: 10%;
}

.preview {
  height: 271px;
  width: 408px;
  background-color: gainsboro;
  border-radius: 10% 10% 0% 0%;
}