#area {
  position: relative;
  background-color: #f0f0f0;

}
.ball {
  background-color: black;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}

.outer {
  margin: 30px;
}

.title-top {
  border-bottom: 15px solid steelblue;
}

.portfolio-card {
  width: 408px;
}

.preview {
  height: 271px;
  width: 408px;
  background-color: gainsboro;
}